 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #000000;
        padding-bottom: 50px;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .navbar {
        display: flex;
        align-items: center;
        background-color: #000000;
        padding: 15px 5%;
        list-style: none;
        border-bottom: 1px solid #14c204;
    }

    .navbar li {
        margin-left: 25px;
    }

    .navbar li:first-of-type {
        margin-left: auto;
    }

    .logo img {
        height: 60px;
        width: auto;
        display: block;
        margin-left: 100px;
        transition: transform 0.3s ease;
    }

    .logo img:hover {
        transform: scale(1.02);
    }

    .navbar a {
        text-decoration: none;
        color: #14c204;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
    }

    .button a {
        background-color: #14c204;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .button a:hover {
        background-color: #14a73e;
        color: #000000;
    }

    .titulo {
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
        font-size: 56px;
        border-bottom: #14c204 2px solid;
        padding-bottom: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 80vh;
        color: #ffffff;
        height: 80vh;
    }

    .playlist {
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .playlist th {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: #14c204;
    }

    .playlist td {
        padding: 10px;
        border-bottom: 1px solid #333333;
    }